<context id="pbcast" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type="continuous space" id="space"/>
  	<projection type="grid" id="grid"/> 
  	<projection type="network" id="spanning tree"/>
  	<projection type="network" id="send network"/>
  	<projection type="network" id="exchange"/>
  	<projection type="network" id="loss network"/>
  	<projection type="network" id="retrieved network"/>
</context>
